<section class="page_colours">
  <header>
    <h1>Colours</h1>
  </header>
  <section>
    <h2>Primary Color Palette</h2>
    <p>The Primary Palette should be used in all occasions for Frontify marketing communications. The palette has been designed to give a bold and exciting direction to the brand, offering flexibility in the design of an literature off and online. Percentage tints can be used of any of these colours.</p>
    <ul class="page_colours-list">
      <li>
        <div class="page_colours-list-preview__teal-deep"></div>
        <p><strong>Teal Deep</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-teal-deep</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__red"></div>
        <p><strong>Red</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#dc5556</span>
          </li>
          <li>
            <span>RGB</span>
            <span>220, 85, 86</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-red</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__orange"></div>
        <p><strong>Orange</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#f2896f</span>
          </li>
          <li>
            <span>RGB</span>
            <span>242, 137, 111</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-orange</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__yellow"></div>
        <p><strong>Yellow</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#f5b672</span>
          </li>
          <li>
            <span>RGB</span>
            <span>245, 182, 114</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-yellow</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__green"></div>
        <p><strong>Green</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#009f96</span>
          </li>
          <li>
            <span>RGB</span>
            <span>0, 159, 150</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-green</span>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h2 id="coloursSecondary">Secondary Color Palettes</h2>
    <p>The Secondary Palette should be used as a guide for the tone of a color. We intend for the secondary palette to be ever evolving, offering an endless palette to choose from. The main use of the secondary palette is in the creation of icons and illustrations that will be used across the board to help demonstrate the core benefits of Frontify products. We will also be using the secondary palette to create unique secondary brands for each one of  Frontifys' products. Percentage tints can be used of any of these colours.</p>
    <h3 id="coloursTeal">Shades of Teal</h3>
    <ul class="page_colours-list">
      <li>
        <div class="page_colours-list-preview__teal-deep"></div>
        <p><strong>Teal Deep</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-teal-deep</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__teal-grey"></div>
        <p><strong>Teal Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#577581</span>
          </li>
          <li>
            <span>RGB</span>
            <span>87, 117, 129</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-teal-grey</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__teal-grey-light"></div>
        <p><strong>Light Teal Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#79919b</span>
          </li>
          <li>
            <span>RGB</span>
            <span>121, 145, 155</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-teal-grey-light</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__teal-grey-lighter"></div>
        <p><strong>Lighter Teal Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#d2dadd</span>
          </li>
          <li>
            <span>RGB</span>
            <span>210, 218, 221</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-teal-grey-lighter</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__teal-grey-lightest"></div>
        <p><strong>Lightest Teal Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#e8ecee</span>
          </li>
          <li>
            <span>RGB</span>
            <span>323, 236, 238</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-teal-grey-lightest</span>
          </li>
        </ul>
      </li>
    </ul>

    <h3 id="coloursGrey">Shades of Greys</h3>
    <ul class="page_colours-list">
      <li>
        <div class="page_colours-list-preview__grey-lightest"></div>
        <p><strong>Lightest Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-grey-lightest</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__grey-lighter"></div>
        <p><strong>Lighter Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-grey-lighter</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__grey-light"></div>
        <p><strong>Light Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-grey-light</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__grey"></div>
        <p><strong>Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-grey</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__grey-dark"></div>
        <p><strong>Dark Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-grey-dark</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__grey-darker"></div>
        <p><strong>Darker Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-grey-darker</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="page_colours-list-preview__grey-darkest"></div>
        <p><strong>Darkest Grey</strong></p>
        <ul class="page_colours-list-values">
          <li>
            <span>HEX</span>
            <span>#1e4759</span>
          </li>
          <li>
            <span>RGB</span>
            <span>30, 71, 89</span>
          </li>
          <li>
            <span>CYMK</span>
            <span>get</span>
          </li>
          <li>
            <span>SCSS</span>
            <span>$hda-grey-darkest</span>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h2 id="coloursUseage">Colour Usage</h2>
    <p>We've chosen the Frontify Yellow to be our main product color for Frontify Style guide. Use the Frontify Blue as a neutral color for contrasting reasons.</p>
    <div class="page_colours-usage">
        <div class="page_colours-usage-teal"></div><div class="page_colours-usage-yellow"></div><div class="page_colours-usage-red"></div><div class="page_colours-usage-green"></div><div class="page_colours-usage-orange"></div>
    </div>
    <p>Frontify has 5 main colors, try to balance the usage evenly and consider the product usage:</p>
    <ul>
      <li><strong>Teal deep</strong>: headings, buttons, borders, icon background, background to section of greater focus</li>
      <li><strong>Yellow</strong>: accents, primary action buttons, warnings, search result borders, tile borders, form selected form elements, aread of greater user focus</li>
      <li><strong>Red</strong>: Error section background, input error messages and border</li>
      <li><strong>Green</strong>: Success area background</li>
    </ul>
  </section>
  <footer>
    <p>last modified: 01/01/2016</p>
    <nav>
      <a href="#" class="content_main-nav-back" data-page="logo">Back to Logo</a>
      <a href="#" class="content_main-nav-next" data-page="fonts">Continue to Typography</a>
    </nav>
  </footer>
</section>
