<section class="page_fonts">
  <header>
    <h1>Typography</h1>
  </header>
  <section>
    <h2>Our Font Families</h2>
    <p>Our font families should be used for all communications. This to ensure the consistent look and feel of all literature off and online.</p>
    <p><strong>Open Sans</strong> should be used for all header, sub header text, and footer all other copy (body, quotes etc). To ensure a consistent look, make sure fonts are used in a consistent manner and the weights of the font have been considered.</p>
  </section>
  <section>
    <h2 id="typeFonts">Fonts</h2>
    <h3>Open Sans</h3>
    <div class="grid-row">
      <div class="page_fonts-tile">
        <a class="page_fonts-tile-download" href="assets/opensans.zip">
          <i class="page_fonts-tile-download-icon"></i>
          <div class="page_fonts-tile-download-info">
            <p><strong>Download Opens Sans</strong></p>
            <p>For use in website and apps</p>
          </div>
        </a>
      </div>
    </div>
    <div class="page_fonts-demo-text">
      <div class="page_fonts-demo-text-preview">
        Aa
      </div>
      <div class="page_fonts-demo-text-font">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890(,.;:?!$&*)
      </div>
      <div class="page_fonts-demo-text-info">
        <p><strong>Open Sans</strong></p>
        <ul>
          <li>weight: 400/normal</li>
          <li>sass: $font-weight-root</li>
        </ul>
      </div>
    </div>
    <div class="page_fonts-demo-text__bold">
      <div class="page_fonts-demo-text-preview">
        Aa
      </div>
      <div class="page_fonts-demo-text-font">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890(,.;:?!$&*)
      </div>
      <div class="page_fonts-demo-text-info">
        <p><strong>Open Sans Bold</strong></p>
        <ul>
          <li>weight: 600/bold</li>
          <li>sass: $font-weight-strong</li>
        </ul>
      </div>
    </div>
    <h3 id="typeUse">Usage</h3>
    <p>CSS:<br>
    <kbd>font-family: 'open sans', sans-serif;</kbd></p>
  </section>
  <footer>
    <p>last modified: 01/01/2016</p>
    <nav>
      <a href="#" class="content_main-nav-back" data-page="colours">Back to Colours</a>
      <a href="#" class="content_main-nav-next" data-page="icons">Continue to Icons</a>
    </nav>
  </footer>
</section>
