<section class="page_icons">
  <header>
    <h1>Iconography</h1>
  </header>
  <section>
    <h2>Icons</h2>
    <p>All icons on the site are part of a custom font library that is managed at <a href="https://icomoon.io/">IcoMoon</a> using their online app. Our library is a blend of FontAwesome, IcoMoon (free) and custom icons. IcoMoon uses the browsers local cache to store icons used. As such you will need to upload the project file (selection.json) provided in the download below to the website upon first use. Included in the download is a copy of the font files in multiple formats. Note that the demo.html doesnt work due to naming method used which contains a SCSS variable.</p>
    <div class="grid-row">
      <div class="page_type-tile">
        <a class="page_type-tile-download" href="assets/dorado-icons.zip">
          <i class="page_type-tile-download-icon"></i>
          <div class="page_type-tile-download-info">
            <p><strong>Download Dorado Icons</strong></p>
            <p>Dorado Icon pack</p>
          </div>
        </a>
      </div>
    </div>
    <section>
      <h3 id="iconWebApp">Web Application Icons</h3>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_circle-warning"></i>
            circle-warning
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_circle-warning
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_warning"></i>
            warning
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_warning
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_exclamation"></i>
            exclamation
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_exclamation
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_printer"></i>
            printer
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_printer
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_user"></i>
            user
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_user
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_user-md"></i>
            user-md
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_user-md
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_search"></i>
            search
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_search
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_envelope"></i>
            envelope
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_envelope
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_tick"></i>
            tick
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_tick
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_cross"></i>
            cross
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_cross
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_download"></i>
            download
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_download
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_circle-cross"></i>
            circle-cross
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_circle-cross
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_menu"></i>
            menu
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_menu
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_desktop"></i>
            desktop
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_desktop
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_laptop"></i>
            laptop
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_laptop
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_tablet"></i>
            tablet
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_tablet
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_mobile"></i>
            mobile
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_mobile
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_phone"></i>
            phone
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_phone
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_thumbs-up"></i>
            thumbs-up
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_thumbs-up
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_thumbs-down"></i>
            thumbs-down
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_thumbs-down
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_circle-o-notch"></i>
            circle-o-notch
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_circle-o-notch
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_list"></i>
            list
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_list
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_clock"></i>
            clock
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_clock
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_gear"></i>
            gear
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_gear
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_question"></i>
            question
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_question
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_share"></i>
            share
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_share
        </div>
      </div>
    </section>

    <section>
      <h3 id="iconMedical">Medical</h3>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_heart"></i>
            heart
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_heart
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_heart-broken"></i>
            heart-broken
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_heart-broken
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_user-md"></i>
            user-md
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_user-md
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_stethoscope"></i>
            stethoscope
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_stethoscope
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_hospital"></i>
            hospital
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_hospital
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_ambulance"></i>
            ambulance
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_ambulance
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_medkit"></i>
            medkit
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_medkit
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_h-square"></i>
            h-square
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_h-square
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_circle-heart"></i>
            circle-heart
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_circle-heart
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_heartbeat"></i>
            heartbeat
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_heartbeat
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_syringe"></i>
            syringe
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_syringe
        </div>
      </div>
    </section>

    <section>
      <h3 id="iconTrans">Tranportation Icons</h3>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_wheelchair"></i>
            wheelchair
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_wheelchair
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_walk"></i>
            Walk
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_walk
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_car"></i>
            car
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_car
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_ambulance"></i>
            ambulance
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_ambulance
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_location"></i>
            location
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_location
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_location2"></i>
            location2
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_location2
        </div>
      </div>
    </section>

    <section>
      <h3 id="iconFiles">File Type Icons</h3>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_file"></i>
            file
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_file
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_file-pdf"></i>
            file-pdf
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_file-pdf
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_file-text"></i>
            file-text
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_file-text
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_file-bill"></i>
            file-bill
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_file-bill
        </div>
      </div>
    </section>

    <section>
      <h3 id="iconForm">Form Control Icons</h3>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_circle-warning"></i>
            circle-warning
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_circle-warning
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_warning"></i>
            warning
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_warning
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_exclamation"></i>
            exclamation
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_exclamation
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_tick"></i>
            tick
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_tick
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_cross"></i>
            cross
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_cross
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_circle-cross"></i>
            circle-cross
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_circle-cross
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_square"></i>
            square
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_square
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_square-check"></i>
            square-check
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_square-check
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_circle"></i>
            circle
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_circle
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_circle-check"></i>
            circle-check
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_circle-check
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_question"></i>
            question
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_question
        </div>
      </div>
    </section>

    <section>
      <h3 id="iconArrows">Directional Icons</h3>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_caret-up"></i>
            caret-up
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_caret-up
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_caret-down"></i>
            caret-down
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_caret-down
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_caret-left"></i>
            caret-left
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_caret-left
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_caret-right"></i>
            caret-right
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_caret-right
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_angle-up"></i>
            angle-up
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_angle-up
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_angle-down"></i>
            angle-down
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_angle-down
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_angle-left"></i>
            angle-left
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_angle-left
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_angle-right"></i>
            angle-right
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_angle-right
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_arrow-up"></i>
            arrow-up
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_arrow-up
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_arrow-down"></i>
            arrow-down
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_arrow-down
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_arrow-left"></i>
            arrow-left
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_arrow-left
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_arrow-right"></i>
            arrow-right
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_arrow-right
        </div>
      </div>
    </section>

    <section>
      <h3 id="iconBrands">Brand Icons</h3>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_linkedin"></i>
            linkedin
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_linkedin
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_logo"></i>
            logo
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_logo
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_logo-small"></i>
            logo-small
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_logo-small
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_twitter"></i>
            twitter
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_twitter
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_facebook"></i>
            facebook
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_facebook
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_google-plus"></i>
            google-plus
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_google-plus
        </div>
      </div>
      <div class="page_icon-demo">
          <p class="page_icon-demo-preview">
            <i class="hda-icon_pinterest"></i>
            pinterest
          </p>
        <div class="page_icon-demo-code">
          <span>Css class:</span>hda-icon_pinterest
        </div>
      </div>
    </section>
  </section>
  <section>
    <h2 id="iconDev">developer notes</h2>
    <h3>Accessible Icons</h3>
    <h4>Icons used for pure decoration or visual styling</h4>
    <p>If you're using an icon to add some extra decoration or branding, it does not need to be announced to users as they are navigating your site or app aurally. Additionally, if you're using an icon to visually re-emphasize or add styling to content already present in your HTML, it does not need to be repeated to an assistive technology-using user. You can make sure this is not read by adding the <kbd>aria-hidden="true"</kbd> to your Font Awesome markup.</p>

    <p>examples</p>

    <p><kbd>&lt;i class="hda-icon_logo-small" aria-hidden="true"&gt;&lt;/i&gt;</kbd><br>
    an icon being used as pure decoration</p>

    <h4>Icons that are for interaction</h4>

    <p>If you're using an icon to convey meaning (rather than only as a decorative element), ensure that this meaning is also conveyed to assistive technologies. This goes for content you're abbreviating via icons as well as interactive controls (buttons, form elements, toggles, etc.).</p>

    <p>In the case of focusable interactive elements, there are various options to include an alternative text or label to the element, without the need for any visually hidden &lt;span&gt; or similar. For instance, simply adding the aria-label attribute with a text description to the interactive element itself will be sufficient to provide an accessible alternative name for the element. If you need to provide a visual tooltip on mouseover/focus, we recommend additionally using the title attribute or a custom tooltip solution.</p>

    <p><kbd>&lt;a href="url" aria-lable="Share via facebook"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="hda-icon_facebook" aria-hidden="true"&gt;&lt;/i&gt;<br>
    &lt;/a&gt;</kbd><br>
      A clickable icon for sharing content via facebook.
    </p>

    <p><strong>Note:</strong> there is no title attribute on the link. Do not use title attributes on anchor tags. Find out more <a href="https://silktide.com/i-thought-title-text-improved-accessibility-i-was-wrong/">here</a></p>


    <h3>Suppot classes</h3>

    <h4>Fixed width Icons</h4>
    <p>Use <kbd>hda-icon__fixed-width</kbd> to set icons at a fixed width. Great to use when different icon widths throw off alignment. Especially useful in things like nav lists & list groups.</p>

    <h4>Stacked Icons</h4>
    <p>To stack multiple icons, use the <kbd>hda-icon__stack</kbd> class on the parent, the <kbd>hda-icon__stack-1x</kbd> for the regularly sized icon, and <kbd>hda-icon__stack-2x</kbd> for the larger icon. fa-inverse can be used as an alternative icon color. You can even add larger icon classes on the parent to get further control of sizing.</p>

    <div class="hda-icon__stack">
      <i class="hda-icon_circle-o-notch hda-icon__stack-2x"></i>
      <i class="hda-icon_caret-right hda-icon__stack-1x"></i>
    </div>
    <p>right caret icon stacked on top of the circle-o-notch</p>
    <p><kbd>&lt;div class="hda-icon__stack"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="hda-icon_circle-o-notch hda-icon__stack-2x"&gt;&lt;/i&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="hda-icon_caret-right hda-icon__stack-1x"&gt;&lt;/i&gt;<br>
    &lt;/div&gt;
    </kbd></p>
    <p><strong>Note:</strong> As per HDA's CSS standards, do not use multiple classes on an element. Find out more <a href="https://confluence.healthdirect.org.au/display/GOV/CSS+Coding+Standards">here</a></p>
    <h4>Animated Icons</h4>
    <p>Use the <kbd>hda-icon__is-spin</kbd> class to get any icon to rotate, and use <kbd>hda-icon__is-pulse</kbd> to have it rotate with 8 steps.</p>
    <p><i class="hda-icon_circle-o-notch hda-icon__is-spin"></i> <i class="hda-icon_circle-o-notch hda-icon__is-pulse"></i></p>
    <p><kbd>&lt;i class="hda-icon_circle-o-notch hda-icon__is-spin"&gt;&lt;/i&gt;<br>
    &lt;i class="hda-icon_caret-right hda-icon__is-pulse"&gt;&lt;/i&gt;</kbd></p>
    <p><strong>Note:</strong> As per HDA's CSS standards, do not use multiple classes on an element. Find out more <a href="https://confluence.healthdirect.org.au/display/GOV/CSS+Coding+Standards">here</a></p>
  </section>
  <footer>
    <p>last modified: 01/01/2016</p>
    <a href="#" class="content_main-nav-back" data-page="type">Back to Typography</a><a href="#" class="content_main-nav-next" data-page="">Continue to </a>
  </footer>
</section>
