<section class="page_images">
  <h1>Images</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra tellus est, at rhoncus magna blandit id. Nunc quam turpis, iaculis vitae eleifend sed, sagittis ac tortor. Quisque iaculis efficitur nisl, vel tempus sapien mattis eu. Maecenas commodo imperdiet eros, eu efficitur risus vestibulum et.</p>

  <section>
    <h2 id="imagesHomepage">home page</h2>
    <p>The home page has 3 responsive sizes and at each size consideration must be made as to what will be visible as the image grows and more get cropped as the browser window gets larger</p>

    <h3>Mobile</h3>
    <p>At the mobile size the image is entirely visible and has a width to match the next break point. ie tablet at 760px. It will resize to fit the users browser width.</p>
    <p><strong>Dimensions</strong><br>
    Width: 760px<br>
    Height: match aspect ratio</p>
    <p><strong>Visible</strong><br>
    Width: 100%<br>
    Height: 100%</p>
    <figure>
      <img src="img/home-hero-mobile.jpg">
      <figcaption>Mobile image dimensions and visibility</figcaption>
    </figure>

    <h3>Tablet</h3>
    <p>The tablet version has a width of the desktop breakpoint ie. 1030px. It will resize to match the users browser size. However not all the image is visible. the viewable area is in the center of the photo with a height of 400 pixels from the center no mater the size of the browser. The width of the viewable area is 100%, however it will be partially obscured by Hero text area that was a width of 300px and has a transparency of 90%.</p>
    <p><strong>Dimensions</strong><br>
    Width: 1030px<br>
    Height: match aspect ratio</p>
    <p><strong>Visible</strong><br>
    Width: 100% - 300px<br>
    Height: 400px</p>
    <p><strong>Text area</strong><br>
    Opacity: 90%<br>
    Width: 300px<br>
    Height: 400px</p>
    <figure>
      <img src="img/home-hero-tablet.jpg">
      <figcaption>Tablet image dimensions and visibility</figcaption>
    </figure>

    <h3>Desktop</h3>
    <p>The desktop version has a width of 1920 pixels and it will resize so that 100% of the width is visible. However only 400 pixel of the height is ever visible no mater the size of the browser. This means that the wider the users browser is the more narrow the visible photo is. Alos there is hero text in a box that sits the right hand side of the layout with a width of 400 pixles and a height to match the content that completely blocks the image.</p>
    <p><strong>Dimensions</strong><br>
    Width: 1920px<br>
    Height: match aspect ratio</p>
    <p><strong>Visible</strong><br>
    Width: 100%<br>
    Height: 400px</p>
    <p><strong>Text area</strong><br>
    Width: 400px<br>
    Height: match text</p>
    <figure>
      <img src="img/home-hero-desktop.jpg">
      <figcaption>Desktop image dimensions and visibility</figcaption>
    </figure>
  </section>

  <section>
    <h2 id="imagesArticle">Article and main content pages</h2>

    <h3>Hero image</h3>
    <p>The most used image type is this one. there are 3 uses and 2 versions for the image. All versions maintain the aspect ratio of the desktop version.</p>
    <p>This type of image is used on the following pages</p>
    <ul>
      <li>Article pages</li>
      <li>Theme pages</li>
      <li>Medicines landing page</li>
      <li>A-Z pages</li>
      <li>Corporate pages</li>
      <li>Generic pages</li>
    </ul>
    <figure>
      <img src="img/article-hero-mobile.jpg">
      <figcaption>Main content image</figcaption>
    </figure>

    <h4>Mobile version</h4>
    <p>The mobile version of the hero image is used as the heading for the tiles that appear on themepages. This is regardless of the device or browser width as theme tiles will never be wider than 760px.</p>
    <p>This version is also used as the hero image for the above mentioned pages and is only visible within the mobile breakpoint</p>
    <p><strong>Dimensions</strong><br>
    Width: 760px<br>
    Height: 217px</p>

    <h4>Tablet / Desktop version</h4>
    <p>Used as the hero image for the above mentioned pages, this version is visible on the tablet and desktop breakpoints</p>
    <p><strong>Dimensions</strong><br>
    Width: 1050px<br>
    Height: 300px</p>

    <h3>Article inline images</h3>
    <p>This image is added by the content team and is by default responsive up to a width of 500px and centered. There are classes avaiable to the content team to deviate from this. Documented here</p>

    <h3>Search result partner logo</h3>
    <p>This image is located in the tiles that are the result of a search on partner content at the bottom of an article.</p>
    <p>It will keep the originals aspect ratio but will have a height of 40px with no white trim</p>
    <p><strong>Dimensions</strong><br>
    Width: match aspect ratio<br>
    Height: 40px</p>
    <figure>
      <img src="img/partner-result-tile.jpg" alt="Partner content tile hightlighting logo size and placement" style="max-width: 290px" />
      <figcaption>Partner content tile hightlighting logo size and placement</figcaption>
    </figure>
  </section>

  <section>
    <h2 id="imagesSearch">Search page</h2>

    <h3>Search result partner logo</h3>
    <p>This image is the same as the partner logo that appears on a content page. It is located in the tiles that are the result of a search on partner content at the bottom of an article.</p>
    <p>It will keep the originals aspect ratio but will have a height of 40px with no white trim</p>
    <p><strong>Dimensions</strong><br>
    Width: match aspect ratio<br>
    Height: 40px</p>
    <figure>
      <img src="img/partner-result-tile.jpg" alt="Partner content tile hightlighting logo size and placement" style="max-width: 290px"/>
      <figcaption>Partner content tile hightlighting logo size and placement</figcaption>
    </figure>
  </section>

  <section>
    <h2 id="imagesVideo">Video gallery</h2>

    <h3>Video tile thumbnail</h3>
    <p>Defined by content team. This image is used as the tumbnail to a video article page</p>
    <p><strong>Dimensions</strong><br>
    Width: 202px<br>
    Height: 114px</p>
    <figure>
      <img src="img/video-tile.jpg" alt="Video tile hightlighting image size and placement" style="max-width: 202px"/>
      <figcaption>Video tile hightlighting image size and placement</figcaption>
    </figure>

    <h3>video page thumbnail</h3>
    <p>Defined by content team. This image is a snap shot of a frame from within the video and would therefore be the same dimensions and aspect ratio as the video (needs confrimation)</p>
    <figure>
      <img src="img/video-thumb.jpg" alt="example of a video thumbnail" style="max-width: 290px" />
      <figcaption>Example of a video thumbnail</figcaption>
    </figure>
  </section>

  <section>
    <h2 id="imagesPartner">Partner Gallery</h2>

    <h3>Partner tile logo</h3>
    <p>Defined by the partner team. This image is square in aspect ratio and has white trim to center the logo.</p>
    <p><strong>Dimensions</strong><br>
    Width: 130px<br>
    Height: 130px</p>
    <figure>
      <img src="img/partner-tile.jpg" alt="Partner gallery tile hightlighting image size and placement" style="max-width: 218px" />
      <figcaption>Partner gallery tile hightlighting image size and placement</figcaption>
    </figure>

    <h3>Partner profile page logo</h3>
    <p>Defined by the partner team. This image has no trim and is the aspect ratio of the original logo. it has a width of 300 pixels</p>
    <p><strong>Dimensions</strong><br>
    Width: 300px<br>
    Height: match aspect ratio</p>
    <figure>
      <img src="img/partner-logo.png" alt="Partner profile logo" style="max-width: 300px" />
      <figcaption>Partner profile logo</figcaption>
    </figure>
  </section>

  <section>
    <h2 id="imagesEvents">Events Gallery</h2>

    <h3>Event tile</h3>
    <p>The tile used on this page is a media object, which means that it is a 2 column tile with the image on the left. Note that on mobile and tablet the media object is 1 column with the image on top</p>
    <p><strong>Dimensions</strong><br>
    Width: 200px<br>
    Height: 133px</p>
    <figure>
      <img src="img/event-tile.jpg" alt="Event tile hightlighting image size and placement" style="max-width: 290px" />
      <figcaption>Event tile hightlighting image size and placement</figcaption>
    </figure>

    <h3>Event page</h3>
    <p>This image is defined by the content team with styling, size and position defined by them</p>
  </section>
  <footer>
    <p>last modified: 01/01/2016</p>
    <a href="#" class="content_main-nav-back" data-page="colours">Back to Iconography</a><a href="#" class="content_main-nav-next" data-page="icons">Continue to Copy Components</a>
  </footer>
</section>
