<section class="page_intro">
  <header>
    <h1>Introduction</h1>
  </header>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate felis velit, nec imperdiet odio accumsan vitae. Praesent posuere varius tellus non sollicitudin. Aenean posuere id odio eget euismod. Mauris sagittis cursus malesuada. Etiam eleifend eros ac nulla euismod, sed pretium nibh vulputate.</p>
  </section>
  <section>
    <h2>Updates</h2>
    <div class="">
      <p><strong>01/01/2016</strong>: shell created</p>
      <p>Nulla dapibus sapien eu malesuada semper. Fusce finibus viverra condimentum. Sed quis urna in est suscipit fermentum ut nec orci. Vivamus a dapibus sapien.</p>
    </div>
  </section>
  <footer>
    <p>last modified: 01/01/2016</p>
    <nav>
      <a href="#" class="content_main-nav-next" data-page="logo">Continue to Logo</a>
    </nav>
  </footer>
</section>
