<section class="page_logo">
  <header>
    <h1>Logo</h1>
  </header>
  <section>
    <h2>Master logo</h2>
    <p>The master logo should be used at all times. Where not possible, one of the logo variations should be used (see below). This is to make sure the logo and brand are used in a consistent manner across all communications.</p>
    <figure class="page_logo-demo-logo">
      <a class="page_logo-demo-logo-download" href="img/logo-hda.svg"><i class="page_logo-demo-logo-download-icon"></i><small>svg - 6 KB</small></a>
      <img src="img/logo-hda.svg" alt="master logo">
      <figcaption>master logo </figcaption>
    </figure>
    <figure class="page_logo-demo-logo">
      <a class="page_logo-demo-logo-download" href="img/logo-hda-bw.svg"><i class="page_logo-demo-logo-download-icon"></i><small>svg - 4 KB</small></a>
      <img src="img/logo-hda-bw.svg" alt="master logo mono">
      <figcaption>master logo mono</figcaption>
    </figure>
  </section>

  <section>
    <h2 id="logoPebbles">Icon Logo - Pebbles</h2>
    <p>dolor sit amet, consectetur adipiscing elit. Duis ornare fringilla metus et pharetra. Pellentesque mi lectus, sollicitudin ac nunc sit amet, venenatis ullamcorper ante.</p>
    <h3 id="logoWeb">Web Only</h3>
    <p>Aenean at lacinia lectus. Pellentesque vulputate rutrum massa in dictum.</p>
    <figure class="page_logo-demo-logo__icon">
      <a class="page_logo-demo-logo-download" href="img/logo-hda-pebbles.svg" target="_blank"><i class="page_logo-demo-logo-download-icon"></i><small>svg - 1 KB</small></a>
      <img src="img/logo-hda-pebbles.svg" alt="pebbles logo full colour" />
      <figcaption>pebbles logo<br>full colour</figcaption>
    </figure>
    <figure class="page_logo-demo-logo__icon">
      <a class="page_logo-demo-logo-download" href="img/logo-hda-pebbles-bw.svg" target="_blank"><i class="page_logo-demo-logo-download-icon"></i><small>svg - 1 KB</small></a>
      <img src="img/logo-hda-pebbles-bw.svg" alt="pebbles logo mono colour" />
      <figcaption>pebbles logo<br>mono colour</figcaption>
    </figure>
    <figure class="page_logo-demo-logo__icon">
      <a class="page_logo-demo-logo-download" href="img/favicon.png" target="_blank"><i class="page_logo-demo-logo-download-icon"></i><small>png - 2 KB</small></a>
      <img src="img/logo-hda-pebbles.svg" alt="pebbles logo favicon" />
      <figcaption>pebbles logo<br>favicon</figcaption>
    </figure>
    <figure class="page_logo-demo-logo__icon">
      <a class="page_logo-demo-logo-download" href="img/favicon.ico" target="_blank"><i class="page_logo-demo-logo-download-icon"></i><small>ico - 33 KB</small></a>
      <img src="img/logo-hda-pebbles.svg" alt="pebbles logo favicon" />
      <figcaption>pebbles logo<br>favicon</figcaption>
    </figure>
    <h3 id="logoApp">Mobile App Only</h3>
    <p>Morbi ut imperdiet velit. Vestibulum mi ex, maximus vitae venenatis</p>
    <figure class="page_logo-demo-logo__icon">
      <a class="page_logo-demo-logo-download" href="img/logo-hda-pebbles-mobile.svg"><i class="page_logo-demo-logo-download-icon"></i><small>svg - 1 KB</small></a>
      <img src="img/logo-hda-pebbles-mobile.svg" alt="pebbles logo mobile full colour" />
      <figcaption>pebbles logo mobile<br>full colour</figcaption>
    </figure>
  </section>
  <section>
  <h2 id="variations">Logo Variations</h2>
    <p>Nam non pharetra turpis. Fusce maximus, ligula rutrum condimentum molestie, turpis diam sagittis diam, et lobortis massa nisl eget enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vehicula luctus semper. Pellentesque tincidunt, est condimentum.</p>
    <figure class="page_logo-demo-logo__icon-reverse">
      <a class="page_logo-demo-logo-download" href="img/logo-hda-bw-w.svg"><i class="page_logo-demo-logo-download-icon"></i><small>svg - 4 KB</small></a>
      <img src="img/logo-hda-bw-w.svg" alt="master logo on universal header" />
      <figcaption>master logo<br>on universal header</figcaption>
    </figure>
    <figure class="page_logo-demo-logo__icon-reverse">
      <a class="page_logo-demo-logo-download" href="img/logo-hda-pebbles-bw-w.svg"><i class="page_logo-demo-logo-download-icon"></i><small>svg - 1 KB</small></a>
      <img src="img/logo-hda-pebbles-bw-w.svg" alt="pebbles logo on universal header" />
      <figcaption>pebbles logo<br>on universal header</figcaption>
    </figure>
  </section>

  <section>
    <h2 id="sizePos">Size and Poistioning</h2>
    <p>itae tortor ullamcorper, eu pharetra diam vestibulum. Donec non quam urna. Donec porta semper ullamcorper. Vestibulum consectetur, dolor id volutpat malesuada.</p>
    <h3 id="sizeIsolation">Isolation Area</h3>
    <p>Arcu purus finibus nibh, a sollicitudin massa metus et velit.</p>
    <img src="img/isolation area.png">
    <h3 id="sizeMin">Minimum Size</h3>
    <p>Donec vitae porta mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    <figure class="page_logo-demo-logo__icon">
      <img src="img/logo-hda.svg" alt="master logo: 80px wide, 20px high" style="width: 120px; min-height: 60px"/>
      <figcaption>master logo<br>80px wide, 20px high</figcaption>
    </figure>
    <figure class="page_logo-demo-logo__icon">
      <img src="img/logo-hda-pebbles.svg" alt="pebbles logo: 20px wide, 20px high" style="width: 60px; min-height: 60px"/>
      <figcaption>pebbles logo<br>20px wide, 20px high</figcaption>
    </figure><br>
    <figure class="page_logo-demo-logo__icon-reverse">
      <img src="img/logo-hda-bw-w.svg" alt="master logo: 80px wide, 20px high" style="width: 120px; min-height: 60px"/>
      <figcaption>master logo<br>80px wide, 20px high</figcaption>
    </figure>
    <figure class="page_logo-demo-logo__icon-reverse">
      <img src="img/logo-hda-pebbles-bw-w.svg" alt="pebbles logo: 20px wide, 20px high" style="width: 60px; min-height: 60px"/>
      <figcaption>pebbles logo<br>20px wide, 20px high</figcaption>
    </figure>
  </section>
  <footer>
    <p>last modified: 01/01/2016</p>
    <a href="#" class="content_main-nav-back" data-page="intro">Back to Inro</a><a href="#" class="content_main-nav-next" data-page="colours">Continue to Colours</a>
  </footer>
</section>
