<section class="page_type">
  <header>
    <h1>Typography</h1>
  </header>
  <section>
    <h2>Our Font Families</h2>
    <p>Our font families should be used for all communications. This to ensure the consistent look and feel of all literature off and online.</p>
    <p><strong>Open Sans</strong> should be used for all header, sub header text, and footer all other copy (body, quotes etc). To ensure a consistent look, make sure fonts are used in a consistent manner and the weights of the font have been considered.</p>
  </section>
  <section>
    <h2 id="typeFonts">Fonts</h2>
    <h3>Open Sans</h3>
    <div class="grid-row">
      <div class="page_type-tile">
        <a class="page_type-tile-download" href="assets/opensans.zip">
          <i class="page_type-tile-download-icon"></i>
          <div class="page_type-tile-download-info">
            <p><strong>Opens Sans</strong></p>
            <p>For use in website and apps</p>
          </div>
        </a>
      </div>
    </div>
    <div class="page_type-demo-text">
      <div class="page_type-demo-text-preview">
        Aa
      </div>
      <div class="page_type-demo-text-font">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890(,.;:?!$&*)
      </div>
      <div class="page_type-demo-text-info">
        <p><strong>Open Sans</strong></p>
        <ul>
          <li>weight: 400/normal</li>
          <li>sass: $font-weight-root</li>
        </ul>
      </div>
    </div>
    <div class="page_type-demo-text__bold">
      <div class="page_type-demo-text-preview">
        Aa
      </div>
      <div class="page_type-demo-text-font">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890(,.;:?!$&*)
      </div>
      <div class="page_type-demo-text-info">
        <p><strong>Open Sans Bold</strong></p>
        <ul>
          <li>weight: 600/bold</li>
          <li>sass: $font-weight-strong</li>
        </ul>
      </div>
    </div>
    <h3 id="typeUse">Usage</h3>
    <p>CSS:<br>
    <kbd>font-family: 'open sans', sans-serif;</kbd></p>
  </section>
  <section>
    <h2>Web Styles</h2>
    <h3 id="typeHeadings">Heading styles</h3>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <p><strong>Heading 1</strong><p>
        <ul>
          <li>Font: open sans</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Letter spacing: -1px</li>
          <li>Line height: 1.2em</li>
          <li>Text colour: #1e4759</li>
          <li>Background: #ffffff</li>
        </ul>
        <dl>
          <dt>Mobile</dt>
          <dd>Font size: 33.1776px</dd>
          <dt>Desktop</dt>
          <dd>Font size: 50.5173px</dd>
        </dl>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h1">Mobile Heading1</span>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h1__desktop">Desktop Heading1</span>
      </div>
    </div>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <p><strong>Heading 2</strong><p>
        <ul>
          <li>Font: open sans</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Letter spacing: -1px</li>
          <li>Line height: 1.2em</li>
          <li>Text colour: #1e4759</li>
          <li>Background: #ffffff</li>
        </ul>
        <dl>
          <dt>Mobile</dt>
          <dd>Font size: 27.648px</dd>
          <dt>Desktop</dt>
          <dd>Font size: px</dd>
        </dl>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h2">Mobile Heading2</span>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h2__desktop">Desktop Heading2</span>
      </div>
    </div>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <p><strong>Heading 3</strong><p>
        <ul>
          <li>Font: open sans</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Letter spacing: -1px</li>
          <li>Line height: 1.2em</li>
          <li>Text colour: #1e4759</li>
          <li>Background: #ffffff</li>
        </ul>
        <dl>
          <dt>Mobile</dt>
          <dd>Font size: 23.04px</dd>
          <dt>Desktop</dt>
          <dd>Font size: 37.8974px</dd>
        </dl>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h3">Mobile Heading3</span>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h3__desktop">Desktop Heading3</span>
      </div>
    </div>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <p><strong>Heading 4</strong><p>
        <ul>
          <li>Font: open sans</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Letter spacing: -1px</li>
          <li>Line height: 1.2em</li>
          <li>Text colour: #1e4759</li>
          <li>Background: #ffffff</li>
        </ul>
        <dl>
          <dt>Mobile</dt>
          <dd>Font size: 19.2px</dd>
          <dt>Desktop</dt>
          <dd>Font size: 28.4302px</dd>
        </dl>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h4">Mobile Heading4</span>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h4__desktop">Desktop Heading4</span>
      </div>
    </div>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <p><strong>Heading 5</strong><p>
        <ul>
          <li>Font: open sans</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Letter spacing: -1px</li>
          <li>Line height: 1.2em</li>
          <li>Text colour: #1e4759</li>
          <li>Background: #ffffff</li>
        </ul>
        <dl>
          <dt>Mobile</dt>
          <dd>Font size: 16px</dd>
          <dt>Desktop</dt>
          <dd>Font size: 16px</dd>
        </dl>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h5">Mobile Heading5</span>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h5__desktop">Desktop Heading5</span>
      </div>
    </div>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <p><strong>Heading 6</strong><p>
        <ul>
          <li>Font: open sans</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Letter spacing: -1px</li>
          <li>Line height: 1.2em</li>
          <li>Text colour: #1e4759</li>
          <li>Background: #ffffff</li>
        </ul>
        <dl>
          <dt>Mobile</dt>
          <dd>Font size: 13.3333px</dd>
          <dt>Desktop</dt>
          <dd>Font size: 12.003px</dd>
        </dl>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h6">Mobile Heading6</span>
      </div>
      <div class="page_type-demo-styles-preview">
        <span class="page_type-demo-styles-preview-h6__desktop">Desktop Heading6</span>
      </div>
    </div>

    <h3>Body Styles</h3>
    <h4 id="typeBody">Body copy</h4>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Text colour: #333333</li>
          <li>Background: #ffffff</li>
        </ul>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate felis velit, nec imperdiet odio accumsan vitae. Praesent posuere varius tellus non sollicitudin.</p>
      </div>
    </div>
    <h4 id="typeLinks">links</h4>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Background: #ffffff</li>
        </ul>
        <dt>
          <dt>Normal, Active, Visited</dt>
          <dd>Text colour: #1e4759<br>
            Text decoration: underline
          </dd>
          <dt>Mouse over</dt>
          <dd>Text colour: #79919b<br>
            Text decoration: underline
          </dd>
          <dt>Focus</dt>
          <dd>Text colour: #79919b<br>
            Text decoration: underline<br>
            Outline colour: #009f96
          </dd>
        </dt>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <p>
          <span class="page_type-demo-styles-preview__single-link-normal">link normal, active and visited</span><br>
          <span class="page_type-demo-styles-preview__single-link-hover">link with mouse over</span><br>
          <span class="page_type-demo-styles-preview__single-link-focus">link with focus</span>
        </p>
      </div>
    </div>
    <h4 id="typeLists">lists</h4>
    <h5>oredered</h5>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Text colour: #333333</li>
          <li>Background: #ffffff</li>
        </ul>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <ol>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ol>
      </div>
    </div>
    <h5>unordered</h5>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Text colour: #333333</li>
          <li>Background: #ffffff</li>
          <li>Bullet colour: #f5b672</li>
        </ul>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
    </div>
    <h4 id="typeQuotes">Quotes / Block quotes</h4>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Background: #ffffff</li>
          <li>Class: cont_layout-quote</li>
        </ul>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <p class="page_type-demo-styles-preview__single-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate felis velit, nec imperdiet odio accumsan vitae. Praesent posuere varius tellus non sollicitudin.</p>
      </div>
    </div>
    <h4 id="typeStandout">Standout Boxes</h4>
    <h5>Mute standout box</h5>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Background: #ffffff</li>
          <li>Class: cont_layout-standout</li>
        </ul>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <div class="page_type-demo-styles-preview__single-mute">
          <h4>Standout example</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate felis velit, nec imperdiet odio accumsan vitae. Praesent posuere varius tellus non sollicitudin.</p>
        </div>
      </div>
    </div>
    <h5>Regular standout box</h5>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Background: #eaeaea</li>
          <li>Class: cont_layout-standout</li>
        </ul>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <div class="page_type-demo-styles-preview__single-standout">
          <h4>Standout example</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate felis velit, nec imperdiet odio accumsan vitae. Praesent posuere varius tellus non sollicitudin.</p>
        </div>
      </div>
    </div>
    <h5>Action box 1</h5>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Text colour: #ffffff</li>
          <li>Background: #1d475f</li>
          <li>class: cont_layout-standout_action1</li>
        </ul>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <div class="page_type-demo-styles-preview__single-action1">
          <h4>Action box 1 example</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate felis velit, nec imperdiet odio accumsan vitae. Praesent posuere varius tellus non sollicitudin.</p>
        </div>
      </div>
    </div>
    <h5>Action box 2</h5>
    <div class="page_type-demo-styles">
      <div class="page_type-demo-styles-info">
        <ul>
          <li>Font: open sans</li>
          <li>Font size: 16px</li>
          <li>Weight: 400/normal</li>
          <li>Style: normal</li>
          <li>Line height: 1.5em</li>
          <li>Text colour: #1d475f</li>
          <li>Background: #f5b672</li>
          <li>class: cont_layout-standout_action2</li>
        </ul>
      </div>
      <div class="page_type-demo-styles-preview__single">
        <div class="page_type-demo-styles-preview__single-action2">
          <h4>Action box 2 example</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate felis velit, nec imperdiet odio accumsan vitae. Praesent posuere varius tellus non sollicitudin.</p>
        </div>
      </div>
    </div>

    <h4 id="typeTables">Tables</h4>
    <div class="page_type-demo-styles-table">
      <table>
        <caption>Caption - traditional table</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mario</td>
            <td>Mario</td>
            <td>26</td>
            <td>NA</td>
            <td>male</td>
          </tr>
          <tr>
            <td>Peach</td>
            <td>Toadstool</td>
            <td>NA</td>
            <td>NA</td>
            <td>female</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>footer cell</td>
            <td>footer cell</td>
            <td>footer cell</td>
            <td>footer cell</td>
            <td>footer cell</td>
          </tr>
          <tr>
            <td colspan="5">footer cell with colspan</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <section>
      <h2 id="typeDevNotes">developer notes</h2>
      <p>The dorado framework uses a base font size of 16px applied to the html and body elements from which the heading <strong>font-size</strong>s are derived using a multiplcation factor of 1.2 for mobile and tablet and 1.333 for desktop. <strong>line-height</strong>s are derived from the resulting font-size by a factor of 1.2. This ensures that If the base font size changes, all fonts will adapt. it also ensures that our fonts scale uniformly.</p>
      <p><strong>for example (mobile and tablet):</strong></p>
      <p>starting with H5, which is the same size as normal font (ie 16px)<br>
        H4 font-size = &lt;base font size&gt; x &lt;mulitplier&gt;<br>
        H4 font-size = <kbd>$font-size-base</kbd> x <kbd>$heading-device-factor</kbd><br>
        H4 font-size = 16px x 1.2 (for mobile/devices)<br>
        H4 font-size = 19.2px (or 1.2rem relative to body)</p>
      <p>for a H3<br>
        H3 font-size = 16px x 1.2 x 1.2<br>
        H3 font-size = 23.04px (or 1.44rem relative to body)
      </p>
      <p>for a H2<br>
        H2 font-size = 16px x 1.2 x 1.2 x 1.2<br>
        H2 font-size = 27.648px (or 1.728rem relative to body)
      </p>
      <p>for a H1<br>
        H1 font-size = 16px x 1.2 x 1.2 x 1.2 x 1.2<br>
        H1 font-size = 33.1776px (or 2.0736rem relative to body)
      </p>
      <p>H6 is done differently as it needs to be smaller than H5 and Body font-sizes<br>
        H6 font-size = 16px / 1.2<br>
        H6 font-size = 13.3333px (or 0.83333rem relative to body)
      </p>
      <p>Desktop font-sizes are calcuated in the same way but using a scalling factor or 1.333 <kbd>$heading-desktop-factor</kbd></p>

      <h3>text related sass variables</h3>
      <h4>_colours.scss</h4>
      <ul>
        <li>$font-heading-colour = $brand-primary = $hda-teal-deep = #1e4759</li>
        <li>$body-text-colour = $hda-grey-darkest = #333333</li>
        <li>$text-muted = $hda-grey-dark = #999999</li>
        <li>$text-colour-on-dark = #ffffff</li>
        <li>$text-colour-on-light = $hda-grey-darkest = #333333</li>
      </ul>
      <h4>_typography.scss</h4>
      <ul>
        <li>$font-family-sans-serif = "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif</li>
        <li>$font-family-base = $font-family-sans-serif !default;</li>
        <li>$font-size-root = 16px</li>
        <li>$font-size-root-print = 12px</li>
        <li>$font-size-base = 1rem</li>
        <li>$line-height = 1.5</li>
        <li>$line-height-headings = 1.2</li>
        <li>$line-height-print = 1.1</li>
        <li>$font-weight-root = 400</li>
        <li>$font-weight-strong = 600</li>
        <li>$font-weight-heading = 400</li>
        <li>$font-weight-heading-small = 600</li>
        <li>$dt-font-weight = 300</li>
      </ul>
    </section>
  </section>
  <footer>
    <p>last modified: 01/01/2016</p>
    <a href="#" class="content_main-nav-back" data-page="colours">Back to Colours</a><a href="#" class="content_main-nav-next" data-page="icons">Continue to Icons</a>
  </footer>
</section>
