html, body, .site_container, .site_container-pusher {
  height: 100%;
}
// shell based on code by Codrops
// http://tympanus.net/codrops/2013/08/28/transitions-for-off-canvas-navigations/
.site{
  &_container {
    position: relative;
    overflow: hidden;
    &-menu {
      @extend .site_menu-effect-9;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      visibility: hidden;
      width: 300px;
      height: 100%;
      background: #48a770;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        content: '';
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
      }
      &__is-open {
        .site_container-menu::after {
          width: 0;
          height: 0;
          opacity: 0;
          -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
          transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        }
        .site_container-pusher::after {
          width: 100%;
          height: 100%;
          opacity: 1;
          -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          a {
            display: block;
            padding: 1em 1em 1em 1.2em;
            outline: none;
            box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
            color: #f3efe0;
            text-transform: uppercase;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
            letter-spacing: 1px;
            font-weight: 400;
            -webkit-transition: background 0.3s, box-shadow 0.3s;
            transition: background 0.3s, box-shadow 0.3s;
          }
          &:firsite_child a {
            box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
          }
          a:hover {
            background: rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
            color: #fff;
          }
        }
      }
      h2 {
        margin: 0;
        padding: 1em;
        color: rgba(0, 0, 0, 0.4);
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        font-weight: 300;
        font-size: 2em;
      }
    }
    &-pusher {
      position: relative;
      left: 0;
      z-index: 99;
      height: 100%;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0.2);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
      }
      &-content {
        height: 100%;
        overflow-y: scroll;
        background: #f3efe0;
        position: relative;
        &-inner {
          position: relative;
        }
      }
    }
  }
}
