html, body, .site_container, .site_container-pusher {
  height: 100%;
}
body{
  background-color: $hda-grey-darker;
}
// shell based on code by Codrops
// http://tympanus.net/codrops/2013/08/28/transitions-for-off-canvas-navigations/
.menu-button{
  @extend .#{$icon-prefix};
  @extend .hda-icon_menu;
  position: fixed;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  top: $general-spacing;
  left: 10px;
  z-index: 1000;
  width: 44px;
  text-align: center;
  border-radius: 50%;
}
.site{
  &_container {
    @extend .site_menu-effect-9;
    position: relative;
    overflow: hidden;
    &-menu {
      @extend .site_menu-effect-9;
      box-shadow: $paper-depth2;
      overflow-y: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: $zindex-navbar;
      opacity: 0;
      width: 300px;
      height: 100%;
      background: $body-bg-colour;
      transition: all $animation-small-time ease-in;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        content: '';
        opacity: 1;
        transition: opacity $animation-small-time;
      }
      &__is-open {
        .site_container-menu::after {
          width: 0;
          height: 0;
          opacity: 0;
          transition: opacity $animation-small-time, width 0.1s $animation-small-time, height 0.1s $animation-small-time;
        }
        .site_container-pusher::after {
          width: 100%;
          height: 100%;
          opacity: 1;
          transition: opacity $animation-small-time;
        }
      }
      &-logo{
        height: 30px;
        margin: $general-spacing auto;
        display: block;
      }
    }
    &-pusher {
      position: relative;
      left: 0;
      z-index: 99;
      height: 100%;
      transition: transform $animation-small-time;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0.2);
        content: '';
        opacity: 0;
        transition: opacity $animation-small-time, width 0.1s $animation-small-time, height 0.1s $animation-small-time;
      }
      &-content {
        height: 100%;
        overflow-y: scroll;
        background: $body-bg-colour;
        position: relative;
        &-inner {
          position: relative;
          padding-top: 80px;
        }
      }
    }
  }
}
.content{
  &_header{
    padding: $general-spacing;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.85);
    z-index: $zindex-navbar;
    &-logo{
      height: 40px;
    }
  }
  &_main{
    &-hero{
      height: 300px;
      background: url('../img/branding.jpg') center;
      background-size: cover;
      margin-bottom: $general-spacing;
    }
    &-view{
      @extend .grid-container;
    }
  }
  section{
    margin-bottom: $general-spacing * 2;
  }
}
.accordion{
  &_group{
    input[type=checkbox] {
      /* hide native checkbox */
      position: absolute;
      opacity: 0;
      // open and closing handled by jquery
      // &:checked + label + ul,
      // &:checked + label:nth-of-type(n) + ul{
      //   display: block;
      // }
      &:checked + label i{
        transform: rotate(90deg);
      }
    }
  }
  label,
  a{
    position: relative;
    display: block;
    padding: 18px 18px 18px 44px;
    margin-bottom: 0;
    background: $hda-grey-darker;
    color: $text-colour-on-dark;
    transition: opacity $animation-micro-time;
    box-shadow: inset 0 -1px #444;
    &:hover{
      opacity: 0.8;
    }
  }
  label{
    i{
      position: absolute;
      top: 18px;
      left: 10px;
      width: 1.5em;
      text-align: center;
      transition: transform $animation-micro-time;
    }
  }
  ul{
    /* by default hide all sub menus */
    display: none;
    label,
    a{
      padding-left: 78px;
      background: none;
      background: $hda-grey-darkest;
    }
    label i{
      left: 44px;
    }
    ul{
      label,
      a{
        padding-left: 102px;
      }
      label i{
        left: 54px;
      }
    }
  }
}
