html, body, .site_container, .site_container-pusher {
  height: 100%;
}
body{
  background-color: $grey-darker;
}
// shell based on code by Codrops
// http://tympanus.net/codrops/2013/08/28/transitions-for-off-canvas-navigations/
.site{
  &_container {
    position: relative;
    overflow: hidden;
    &-menu {
      @extend .site_menu-effect-9;
      box-shadow: $paper-depth2;
      overflow-y: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: $zindex-navbar;
      visibility: hidden;
      width: 300px;
      height: 100%;
      background: $body-bg-colour;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        content: '';
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
      }
      &__is-open {
        .site_container-menu::after {
          width: 0;
          height: 0;
          opacity: 0;
          -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
          transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        }
        .site_container-pusher::after {
          width: 100%;
          height: 100%;
          opacity: 1;
          -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
        }
      }
      &-logo{
        height: 30px;
        margin: $general-spacing;
      }
    }
    &-pusher {
      position: relative;
      left: 0;
      z-index: 99;
      height: 100%;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0.2);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
      }
      &-content {
        height: 100%;
        overflow-y: scroll;
        background: $body-bg-colour;
        position: relative;
        &-inner {
          position: relative;
        }
      }
    }
  }
}
.accordion{
  &_group{
    input[type=checkbox] {
      /* hide native checkbox */
      position: absolute;
      opacity: 0;
      // open and closing handled by jquery
      // &:checked + label + ul,
      // &:checked + label:nth-of-type(n) + ul{
      //   display: block;
      // }
      &:checked + label i{
        transform: rotate(90deg);
      }
    }
  }
  label,
  a{
    position: relative;
    display: block;
    padding: 18px 18px 18px 44px;
    margin-bottom: 0;
    background: $grey-darker;
    color: $text-colour-on-dark;
    transition: opacity $animation-small-time;
    box-shadow: inset 0 -1px #444;
    &:hover{
      opacity: 0.8;
    }
  }
  label{
    i{
      position: absolute;
      top: 18px;
      left: 10px;
      width: 1.5em;
      text-align: center;
      transition: transform $animation-small-time;
    }
  }
  ul{
    /* by default hide all sub menus */
    display: none;
    label,
    a{
      padding-left: 78px;
      background: none;
      background: $grey-darkest;
    }
    label i{
      left: 44px;
    }
    ul{
      label,
      a{
        padding-left: 102px;
      }
      label i{
        left: 54px;
      }
    }
  }
}
